:root {
    
    --swiper-pagination-color: #7e7d7d;
    --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
    --swiper-pagination-bullet-inactive-color: #000;
   
  }

h1{
    @apply font-orbitron
}
h2{
    @apply font-raleway
}
p{
    @apply font-montserrat
}

.header-title{
    @apply text-white font-bold sm:text-6xl text-4xl 
}

.header-subtitle{
    @apply text-gray-300 font-semibold sm:text-xl text-lg 
}

.overlay{
    @apply bg-slate-950 bg-opacity-85
}

.section{
 @apply md:px-10 sm:px-5 px-3 py-4;
}

.section-title{
    @apply font-bold font-orbitron sm:text-4xl text-2xl pb-4 mb-4 border-b-2 border-b-black lg:w-3/12 md:w-4/12 sm:w-6/12 w-8/12
}

.link{
    @apply text-white font-nunito select-none cursor-pointer hover:text-gray-300
}

.logo-link{
    @apply select-none font-bold cursor-pointer text-slate-950 hover:text-slate-600 duration-300
}

.nav-link{
    @apply text-slate-950 font-montserrat select-none cursor-pointer hover:text-slate-600
}
